* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;  
    background-color: #000;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.name {
    color: #add8e6; 
    text-transform: capitalize;
    margin: 2rem 0 0 2rem;
    font-size: 25px;
}

ul {
    color: #fff;
    display: flex;
    justify-content: right;
    width: 100%;
    list-style: none;
    margin-right: 5rem;
}
li {
    margin: 0 20px;
}

li a {
    color: #fff;
    text-decoration: none;
}
li a:hover {
    color: #add8e6;
    transition: 0.5s;
    
}
/* ul li a:visited {
    color: #fff;
} */


h2,
p {
    text-align: center;
}

.education {
    width: 40rem;
    height: 40rem;
    background-image: url("/books-1204029_640.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2rem;
}

