

header .hbc-i-container {
    display: flex;
    justify-content: space-between;
}
.hbc-i-container .hbc-i {
    height: 50px;
}



footer {
    background-color: #000;
    padding: 50px 0;
}
footer p {
    color: #add8eb;
    text-align: center;
}
.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 30px; 
}
.fa-brands {
    color: #fff;
    padding: 10px 7px;
}
.fa-brands:hover {
    color: #ffc0cb; 
    transition: 0.4s;
}


@media screen and (max-width: 700px) {
    .home {
        color: #0000ff;
        position: absolute;
        top: 0;
        left: 35%;
        font-size: 24px;
    }    
    .home:hover {
        color: #0000ff;
        background-color: transparent;
        border: 1px solid #ffffff9b;
    }
}



@media screen and (max-width: 359px) {
    body {
        position: relative;
        width: 100%;
    }

    .headline img {
        width: 250px;
    }   
}
