
.education {
    padding: 20px 0;
    background-color: #f5f5f5;
    margin: 1rem;
}
.space-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.image-container {
    width: 40%;
    height: 350px;
    background-image: url("https://i.postimg.cc/VkC96Lqx/school-work-851328-640.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.image-container p {
    color: #fff;
    text-align: center;
    font-size: 35px;
}
.education article {
    display: flex;
    width: inherit;
    height: 70px;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: #fff; 
    box-shadow: 1px 2px 5px 0px #000;
    border-radius: 10px;
}
.education article img {
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 5px 0px #00000052;
    border: 1px thin #008000; 
}
.education article a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.education article a > * {
    line-height: 0.2;
    margin: 7px;
    font-size: 0.9em;
}
.education article a time {
    color: #ff0000;
    text-decoration: none;
}
.education article:hover {
    text-decoration: underline;
    background-color: #f5f5f5;
    transition: 0.4s;
}

.education article:hover > a img {
    box-shadow: 1px 2px 5px 0px #f5f5f5;
}



        @media screen and (max-width: 700px) {
            body {
                width: 100%;
                margin: 0;
            }
            .education {
                margin: 0;
            }
            .space-divider {
                flex-direction: column;
            }
            .image-container {
                width: 100%;
            }

            .education article {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 15px 0;
                margin: 15px 0;
                /* background-color: #ff0000; */
            }
            .education article a {
                width: 100%;
                height: inherit;
                padding: 10px 0;
                /* background-color: #fff000; */
                margin: 0;
            }
            .education article a div p,
            .education article a div h4 {
                width: 100%;
                margin: 0.6em 0;
                line-height: 15px; 
                font-size: 0.9em;
            }
            .education article a > * {
                line-height: 0.2;
                /* margin: 5px 0 5px 5px; */
                font-size: 0.9em;
            }
        }
